@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Purple-100: hsl(254, 88%, 90%);
    --Purple-500: hsl(256, 67%, 59%);

    --Yellow-100: hsl(31, 66%, 93%);
    --Yellow-500: hsl(39, 100%, 71%);

    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 7%);

    /*
        Rel. btwn. nth-child and grid-area placement:
        nth-child(1) = item2
        nth-child(2) = item4
        nth-child(3) = item5
        nth-child(4) = item3
        nth-child(5) = item8
        nth-child(6) = item7
        nth-child(7) = item1
        nth-child(8) = item6
    */
}

body {
    background-color: rgb(232, 232, 232);
    justify-content: center;
    display: grid;
}

.parent-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 1rem;
    max-width: 1440px;
    grid-template-areas:
        "item1 item2 item2 item3"
        "item1 item4 item5 item3"
        "item6 item4 item5 item3"
        "item6 item7 item8 item8";
    gap: 1.5rem;
}

.parent-grid .card {
    padding: 1rem 0.5rem 1rem 2rem;
    border-radius: 0.7rem;
    overflow: hidden;
    word-wrap: break-word;
}

.parent-grid .card img {
    max-width: 100%;
    height: auto;
}

.parent-grid .card:nth-child(1) {
    grid-area: item2;
    background-color: var(--Purple-500);
    color: var(--White);
    text-align: center;
}

.parent-grid .card:nth-child(1) .top {
    font-size: 80px;
    margin-top: 5rem;
    margin-bottom: 1rem;
}

.parent-grid .card:nth-child(1) .y {
    color: var(--Yellow-500);
}

.parent-grid .card:nth-child(1) .bottom {
    font-size: 40px;
    font-weight: light;
}

.parent-grid .card:nth-child(1) img {
    width: 17rem;
}

.parent-grid .card:nth-child(2) {
    grid-area: item4;
    background-color: var(--White);
}

.parent-grid .card:nth-child(2) .text {
    font-size: 3rem;
}

.parent-grid .card:nth-child(2) .img {
    width: 400px;
    height: 100px;
    overflow: hidden;
    margin: 5rem 0 5rem 0;
}

.parent-grid .card:nth-child(2) img,
.parent-grid .card:nth-child(4) img {
    width: auto;
    height: 100%;
}

.parent-grid .card:nth-child(3) {
    grid-area: item5;
    background-color: var(--Yellow-500);
}

.parent-grid .card:nth-child(3) .text {
    font-size: 70px;
    margin: 10rem 0 5rem 0;
}

.parent-grid .card:nth-child(3) .img {
    width: 320px;
    height: 130px;
    overflow: hidden;
}

.parent-grid .card:nth-child(3) img {
    width: 90%;
    height: auto;
}

.parent-grid .card:nth-child(4) {
    /* display: grid; */
    background-color: var(--Purple-100);
    grid-area: item3;
}

.parent-grid .card:nth-child(4) .top {
    font-size: 100px;
}

.parent-grid .card:nth-child(4) .bottom {
    font-size: 80px;
}

.parent-grid .card:nth-child(4) .img {
    width: 500px;
    height: 700px;
    overflow: hidden;
    margin-left: 1rem;
}

.parent-grid .card:nth-child(4) .top,
.parent-grid .card:nth-child(4) .bottom,
.parent-grid .card:nth-child(5) .text,
.parent-grid .card:nth-child(6) .text,
.parent-grid .card:nth-child(7) .text,
.parent-grid .card:nth-child(8) .text {
    white-space: normal;
    font-size: 70px;
    margin-bottom: 1.5rem;
}

.parent-grid .card:nth-child(5) {
    grid-area: item8;
    background-color: var(--Purple-500);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.parent-grid .card:nth-child(5) .text {
    font-size: 40px;
    color: var(--White);
    margin-left: 3rem;
    justify-content: center;
    margin-top: 9rem;
}

.parent-grid .card:nth-child(5) img {
    margin-top: 5rem;
}

.parent-grid .card:nth-child(5) img {
    height: fit-content;
    margin-left: 1rem;
}

.parent-grid .card:nth-child(6) {
    grid-area: item7;
    background-color: var(--White);
}

.parent-grid .card:nth-child(6) .text {
    font-size: 2rem;
    display: grid;
    margin: 3rem 0 2rem 0;
}

.parent-grid .card:nth-child(6) .text .bigger {
    font-size: 5rem;
    font-weight: bold;
}

.parent-grid .card:nth-child(6) img {
    width: 550px;
    margin-top: 3rem;
}

.parent-grid .card:nth-child(7) {
    grid-area: item1;
    background-color: var(--Yellow-100);

}

.parent-grid .card:nth-child(7) .text {
    margin-top: 10rem;
}

.parent-grid .card:nth-child(7) .p {
    color: var(--Purple-500);
}

.parent-grid .card:nth-child(8) {
    grid-area: item6;
    background-color: var(--Yellow-500);

}

.parent-grid .card:nth-child(8) .text {
    font-size: 80px;
    margin-top: 10rem;
}

.parent-grid .card:nth-child(8) img {
    width: 300px;
    margin: 5rem 0 1rem 0;
}

/* tablet */
@media (max-width: 769px) {
    .parent-grid {
        display: grid;
        grid-template-columns: repeat (3, 1fr);
        grid-template-areas:
            "item2 item2 item3"
            "item1 item4 item3"
            "item8 item5 item7"
            "item8 item6 item6";
        gap: 1.5rem;
        width: 130%
            /*used this to make it fit the page, alternative ways would be appreciated*/
    }

    .parent-grid .card {
        padding: auto;
        border-radius: 0.7rem;
        overflow: hidden;
        word-wrap: break-word;
    }

    .parent-grid .card:nth-child(1) .top {
        font-size: 50px;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .parent-grid .card:nth-child(1) .bottom {
        font-size: 30px;
        margin-top: 1rem;
        padding-bottom: 1rem;
    }

    .parent-grid .card:nth-child(2) .text {
        font-size: 2rem;
    }

    .parent-grid .card:nth-child(2) .img {
        margin: 1rem 0 1rem 0;
        width: 280px;
        height: 75px;
        overflow: hidden;
    }

    .parent-grid .card:nth-child(3) .text {
        font-size: 40px;
        margin: 2rem auto 1.5rem 0;
    }

    .parent-grid .card:nth-child(3) .img {
        width: 290px;
        height: 80px;
        overflow: hidden;
        margin-right: 3rem;
    }

    .parent-grid .card:nth-child(3) img {
        width: 60%;
        height: auto;
        margin-right: 1rem;
    }

    .parent-grid .card:nth-child(4) .top {
        font-size: 34px;
        margin: 2rem 1rem 2rem 0;
        text-align: center;
    }

    .parent-grid .card:nth-child(4) .bottom {
        font-size: 29px;
        text-align: left;
        margin: 2rem 1rem 0 0;
    }

    .parent-grid .card:nth-child(4) .img {
        width: 300px;
        height: auto;
        margin-right: 1rem;
    }

    .parent-grid .card:nth-child(4) img {
        width: auto;
        height: 100%;
    }

    .parent-grid .card:nth-child(5) {
        grid-area: item8;
        display: flex;
        flex-direction: column;
    }

    .parent-grid .card:nth-child(5) .text {
        font-size: 49px;
        margin: 3rem 1rem auto 1rem;
    }

    .parent-grid .card:nth-child(5) img {
        width: auto;
        height: auto;
        margin: 5rem 1rem 0 0;
    }

    .parent-grid .card:nth-child(6) {
        grid-area: item7;
    }

    .parent-grid .card:nth-child(6) .text {
        font-size: 2rem;
        display: grid;
        margin: 3rem 0 0 0;
        font-size: 34px;
    }

    .parent-grid .card:nth-child(6) .text .bigger {
        font-size: 5rem;
        font-weight: bold;
    }

    .parent-grid .card:nth-child(6) .img {
        margin: 0.5rem 1rem 0 0;
    }

    .parent-grid .card:nth-child(6) img {
        width: 200px;
        height: auto;
    }

    .parent-grid .card:nth-child(7) {
        grid-area: item1;
    }

    .parent-grid .card:nth-child(7) .text {
        margin-top: 2rem;
        font-size: 35px;
    }

    .parent-grid .card:nth-child(8) {
        grid-area: item6;
        display: grid;
        grid-template-columns: 1fr 1fr;
        /*fits a lot better here*/
    }

    .parent-grid .card:nth-child(8) .text {
        font-size: 60px;
        margin-top: 1.5rem;
    }

    .parent-grid .card:nth-child(8) img {
        width: auto;
        height: 250px;
        margin: 1rem 0.5rem 0 1rem;
    }
}

/* mobile-phone */
@media (max-width:480px) {
    .parent-grid {
        display: grid;
        grid-template-columns: 1fr;
        /* margin:0;
        padding:0; */
        grid-template-areas:
            "item2"
            "item4"
            "item5"
            "item3"
            "item8"
            "item7"
            "item1"
            "item6";
        gap: 1.5rem;
        width: 100%
    }

    .parent-grid .card {
        padding: auto;
        border-radius: 0.7rem;
        overflow: hidden;
        word-wrap: break-word;
    }

    .parent-grid .card:nth-child(1) .top {
        font-size: 50px;
        margin-top: 5rem;
        margin-bottom: 1rem;
    }

    .parent-grid .card:nth-child(1) .bottom {
        font-size: 30px;
        padding-bottom: 3rem;
    }

    .parent-grid .card:nth-child(2) .text {
        font-size: 2rem;
    }

    .parent-grid .card:nth-child(2) .img {
        margin-bottom: 1rem;
    }

    .parent-grid .card:nth-child(3) .text {
        font-size: 40px;
        margin: 0 0 1rem 0;
        /*for some reason margin-bottom wont work*/
    }

    .parent-grid .card:nth-child(4) .top {
        font-size: 30px;
    }

    .parent-grid .card:nth-child(4) .bottom {
        font-size: 25px;
        text-align: center;
        margin-top: 1rem;
    }

    .parent-grid .card:nth-child(4) .img {
        width: auto;
        height: auto;
        margin-right: 2rem;
    }

    .parent-grid .card:nth-child(5) {
        grid-area: item8;
        display: flex;
        flex-direction: column;
    }

    .parent-grid .card:nth-child(5) .text {
        font-size: 50px;
        margin-left: 1rem;
        margin-top: 1rem;
    }

    .parent-grid .card:nth-child(5) img {
        width: auto;
        height: auto;
        margin: 3rem 1rem 0 0;
    }

    .parent-grid .card:nth-child(6) {
        grid-area: item7;
    }

    .parent-grid .card:nth-child(6) .text {
        font-size: 2rem;
        display: grid;
        margin: 1rem 0 0 0;
    }

    .parent-grid .card:nth-child(6) .text .bigger {
        font-size: 5rem;
        font-weight: bold;
    }

    .parent-grid .card:nth-child(6) .img {
        margin: 1rem 1rem 3rem 0;
    }

    .parent-grid .card:nth-child(6) img {
        width: 550px;
    }

    .parent-grid .card:nth-child(7) {
        grid-area: item1;
        padding-bottom: 3rem;
    }

    .parent-grid .card:nth-child(7) .text {
        margin-top: 1rem;
        font-size: 40px;
    }

    .parent-grid .card:nth-child(8) {
        grid-area: item6;
    }

    .parent-grid .card:nth-child(8) .text {
        font-size: 40px;
        margin-top: 2rem;
    }

    .parent-grid .card:nth-child(8) img {
        width: 300px;
        margin: 1rem 0 0 1rem;
    }
}